.order__list__item__container {
    -fx-background-color: #FDF2F2;
    -fx-pref-width: 950px;
}

.order__list__item__container__title {
    -fx-spacing: 20px;
    -fx-alignment: center;
}

.order__list__item__container__title Button {
    -fx-background-color: #ffff;
    -fx-border-width: 0;
    -fx-cursor: hand;
}

.order__list__item__container__title Button:hover {
    -fx-background-color: #E8D9D9;
}

.order__list__item__box {
    -fx-background-color: #FFFF;
    -fx-border-width: 1px;
    -fx-border-color: #ffff;
    -fx-border-radius: 4px;
}

.order__list__item__box__header {
    -fx-spacing: 10;
}

.order__list__item__box__header Text {
    -fx-font-weight: 500;
    -fx-font-size: 18;
}

.order__list__item__box__btn__order {
    -fx-background-color: #2264E5;
    -fx-text-fill: #ffff;
    -fx-pref-height: 30px;
    -fx-font-weight: bold;
    -fx-cursor: hand;

    -fx-hovered-background: #4676d5;
}

.order__list__item__box__btn__order:hover {
    -fx-background-color: -fx-hovered-background;
}

/*css styling for table view*/
.table-view {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

/*.table-view .column-header-background{*/
/*    -fx-background-color: linear-gradient(to bottom, #1dbbdd44, #93f9b944);*/
/*    -fx-background-radius: 7px 7px 0px 0px;*/
/*    -fx-background-insets: 0 5px 0 0;*/
/*    -fx-padding: 0 0 5px 0;*/
/*}*/

.table-view .column-header {
    -fx-background-color: #F4F7FC;
    /*-fx-border-width: 1px;*/
    /*-fx-border-color: #E8D9D9;*/
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;
}

/*.table-row-cell:hover {*/
/*    -fx-background-color: #93f9b911;*/
/*    !*-fx-text-background-color: #;*!*/
/*}*/

.table-row-cell:odd {
    -fx-background-color: #F9FAFC;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #FFFF;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.view__item__button {
    -fx-background-color: #2264E5;
    -fx-text-fill: #ffff;
    -fx-font-weight: 500;
    -fx-cursor: hand;

    -fx-hovered-background: #4676d5;
}

.view__item__button:hover {
    -fx-background-color: -fx-hovered-background;
}
